/* Step block editor styles */
.wp-block-streamery-forms-step {
	position: relative;
	min-height: 60px;
}

.wp-block-streamery-forms-step.streamery-forms-step--hidden {
	display: none;
	pointer-events: none;
}
