/* Step block styles */
.wp-block-streamery-forms-step {
	width: 100%;
}

/* Frontend: hide non-active steps */
.wp-block-streamery-forms-step:not(.streamery-forms-step--active) {
	display: none;
	pointer-events: none;
}
