@import 'nouislider/dist/nouislider.css';

.streamery-forms-slider-wrapper {
	width: 100%;
}

.streamery-forms-slider--editor.noUi-target {
	min-height: 18px;
}

.streamery-forms-slider--editor.noUi-vertical {
	min-width: 18px;
	height: 200px;
	margin: 0 auto;
}
