.streamery-forms-field .streamery-forms-datetime-inputs {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	flex-wrap: wrap;
}

.streamery-forms-field .streamery-forms-datetime-input {
	flex: 1;
	min-width: 0;
}

.streamery-forms-field .streamery-forms-datetime-separator {
	opacity: 0.7;
}
