.streamery-forms-field select {
	width: 100%;
	padding: 8px 12px;
	border: 1px solid #ddd;
	border-radius: 2px;
	font-size: 14px;
	font-family: inherit;
}

.streamery-forms-field select:focus {
	outline: none;
	border-color: #2271b1;
	box-shadow: 0 0 0 1px #2271b1;
}

