.block-editor-block-icon.has-colors .streamery-forms-block-icon svg,
.components-button .streamery-forms-block-icon svg {
    fill: none !important;
    width: 100%;
    height: 100%;
}

.streamery-forms-block-icon:not(.clean) {
    background: linear-gradient(to bottom, #E71D73, #A0174F);
    color: white;
    /* border-radius: 50%; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    min-width: 32px;
    min-height: 32px;
    width: 32px;
    height: 32px;
    mask: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTI2IiBoZWlnaHQ9IjUyOSIgdmlld0JveD0iMCAwIDUyNiA1MjkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik00MDQuNTk2IDUwMC45NDdMMzg1LjYzOSA1MDIuNjQ0QzMwMy43MzEgNTA5LjkwOCAyMjEuMzQ3IDUwOS45MDggMTM5LjQzOSA1MDIuNjQ0TDEyMC40ODMgNTAwLjk0N0M3MC4xMzUxIDQ5Ni40NjYgMzAuNDU1MSA0NTYuMjQ1IDI2LjcxODEgNDA1Ljg3NEwyMy43OTY0IDM2Ni42NzFDMTguNzM0NSAyOTguMzQ1IDE4LjczNDUgMjI5Ljc0NyAyMy43OTY0IDE2MS40MjFMMjYuNzE4MSAxMjIuMjE4QzMwLjQ1NTEgNzEuODQ3IDcwLjEzNTEgMzEuNjI1MyAxMjAuNDgzIDI3LjE0NDlMMTM5LjQzOSAyNS40NDc4QzIyMS4zNDcgMTguMTg0MSAzMDMuNzMxIDE4LjE4NDEgMzg1LjYzOSAyNS40NDc4TDQwNC41OTYgMjcuMTQ0OUM0NTQuOTQzIDMxLjYyNTMgNDk0LjYyMyA3MS44NDcgNDk4LjM2IDEyMi4yMThMNTAxLjI4MiAxNjEuNDIxQzUwNi4zNDQgMjI5Ljc0NyA1MDYuMzQ0IDI5OC4zNDUgNTAxLjI4MiAzNjYuNjcxTDQ5OC4zNiA0MDUuODc0QzQ5NC42MjMgNDU2LjI0NSA0NTQuOTQzIDQ5Ni40NjYgNDA0LjU5NiA1MDAuOTQ3WiIvPgo8L3N2Zz4K') no-repeat center center;
    mask-size: 100% 100%;
}

.block-editor-list-view-tree .streamery-forms-block-icon:not(.clean) {
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
    padding: 4px;
}

.streamery-forms-block-icon.clean {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-width: 16px;
    max-height: 16px;
}
